<nav id="menu" class="menu">
    <ul class="menu__inner">
        {{- $currentPage := . -}}
        {{ $counter := 0 }}
        {{ range .Site.Menus.main -}}
          {{ $counter = add $counter 1}}
          {{ if ne $counter 1 }}
            <li class="menu-dot">&middot;</li>
          {{ end }}
          {{ if .HasChildren }}
            <li class="dropdown">
              <span>{{ .Name }}</span>
              <div class="dropdown-content">
                {{ range .Children }}
                  <p><a href="{{ .URL | absLangURL }}">{{ .Name }}</a></p>
                {{ end }}
              </div>
            </li>
          {{ else }}
            <li>
              <a href="{{ .URL | absLangURL }}?active={{ .Name }}" id="{{ .Name }}">{{ .Name }}</a>
            </li>
          {{ end }}
        {{- end }}
    </ul>
</nav>
