{% case site.color-scheme %}
  {% when "", nil, false, 0, empty %}
    {% assign ColorScheme = "auto" %}
  {% else %}
    {% assign ColorScheme = site.color-scheme %}
{% endcase %}

<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ "/assets/css/colors-ColorScheme.css?v=" | replace: "ColorScheme", ColorScheme | append: site.github.build_revision | relative_url }}">
    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">

    <link rel="preload" href="{{site.logo | relative_url}}" as="image">
    <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->
    {% include head-custom.html %}
  </head>
  <body>
    <div class="container">
      
      <div class="sidebar col-lg-3 d-lg-block d-none">
        <header>
          {% if site.data.siteSetting.profile-image %}
            <img class="img-circle img-fluid center-block" src="{{ site.data.siteSetting.profile-image }}" alt="Logo">
          {% endif %}
            <h1><a href="{{ "/" | absolute_url }}">{{ site.data.siteSetting.brand-logo-text }}</a></h1>
          {% include sidebar.html %}

        </header>

        {% include links-mobile.html %}
      </div>
      <!-- MOBILE navbar -->
      <div class="d-lg-none d-block">
        <nav class="navbar fixed-top navbar-light bg-light">
          <div class="container-fluid">
            <a class="navbar-brand" href="/">
              {{ site.data.siteSetting.brand-logo-text }}
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-3">
                {% for nav in site.data.siteSetting.nav %}
                <li class="nav-item">
                  <a class="nav-link mt-1 mb-1 {% if forloop.first %}active{% endif %}" href="{{ nav.link }}">{{ nav.title }}</a>
                </li>
                {% endfor %}
              </ul>
            </div>
          </div>
        </nav>
      </div>

      <section class="col-lg-8 col-12">
        <!-- mobile profile image -->
        <div class="d-lg-none d-block">
          <img class="img-fluid mx-auto d-block profile-image" src="{{ site.data.siteSetting.profile-image }}" alt="Logo"/>
           <div class="social-media-container mt-3 mb-3">
                {% for social in site.data.siteSetting.footer-social-media %}
                {% if forloop.first %}
                <div class="social-item">
                    <a href="{{ social.link }}" class="social-link">
                        <span class="social-icon"><svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" role="img" style="vertical-align:-0.125em;" width="1em" height="1em" preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24"><g fill="none" stroke="currentColor" stroke-linejoin="round" stroke-width="2"><path stroke-linecap="round" d="M4 4v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V8.342a2 2 0 0 0-.602-1.43l-4.44-4.342A2 2 0 0 0 13.56 2H6a2 2 0 0 0-2 2Zm5 9h6m-6 4h3"/><path d="M14 2v4a2 2 0 0 0 2 2h4"/></g></svg></span>
                    </a>
                </div>
                {% else %}
                <div class="social-item">
                    <a href="{{ social.link }}" class="social-link">
                        <span class="{{ social.icon }} social-icon"></span>
                    </a>
                </div>
                {% endif %}
                {% endfor %}
            </div>
        </div>

      {{ content }}
      </section>
    </div>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://code.jquery.com/ui/1.11.4/jquery-ui.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.min.js"></script>
    <script src="{{ "/assets/js/scale.fix.js" | relative_url }}"></script>
  </body>
</html>
